-# _counter is defined only if we pass :collection to the partial
-if defined?(blog_post_counter)
  -showing_individual_post = false
-else
  -d {blog_post}
  -showing_individual_post = true
  -blog_post_counter = 0
-unless defined?(@first_post_as_summary)
  -latest_post = (@blog_posts.first == blog_post) if @blog_posts
.content.blog
  .blog_post{:id => "blog_post_#{blog_post.id}"}
  .title-block
    %h3= link_to h(blog_post.name), _blog_post_path(blog_post)
    %h4=blog_post.published_at.to_s :month_day_year
    %h4="by #{blog_post.author.first_name} #{blog_post.author.last_name}"
  .body
    -if showing_individual_post or (blog_post.summary.blank? || latest_post)
      =blog_post.body.html_safe
    -else
      .blog-post-summary
        =blog_post.summary.blank? ? blog_post.body.html_safe : blog_post.summary
      .read_more
        = link_to 'Read More >>', _blog_post_path(blog_post)

  -if showing_individual_post || latest_post
    .meta
      -unless blog_post.tags.empty?
        #tags
          Tags:
          %span.tags
            = blog_post.tags.map{|t| link_to(h(t.name), _blog_path(blog_post.blog, 'posts_with_tag', :tag => t.name)) }.join(", ")
    .comment-link
      %a{:href => "#discus_thread", "data-disqus-indentifier" =>  "#{blog_post.slug}"} Post a comment
      =#image_tag('comment.png')
      /Show comments
    =# link_to "Post a comment", "#{_blog_post_path(blog_post)}#comments" if showing_individual_post
    #post_comments
      %span.disqus-config{'data-disqus-article-id' => blog_post.slug, 'data-disqus-development' => Rails.env.development? ? 1 :0}
      #disqus_thread
        =javascript_include_tag "disqus"     
        =#javascript_include_tag "disqus_comment_count"     
    -if latest_post
      #latest-post-end