-# _counter is defined only if we pass :collection to the partial. Include counter in caching call so we can 
-# cache summary state of index page and full state of show page
-if defined?(blog_post_counter)
  -showing_individual_post = false
-else
  -showing_individual_post = true
  -blog_post_counter = 0
-cache([blog_post, last_updated_blog_post, blog_post_counter]) do
  -unless defined?(@first_post_as_summary)
    -latest_post = (@blog_posts.first == blog_post) if @blog_posts
 
  .content.blog.panel.panel-default
    .blog_post{:id => "blog_post_#{blog_post.id}"}
    .title-block.panel-heading
      %h3= link_to h(blog_post.name), seismo_blog_post_path(blog_post.route_params)
      %h4=blog_post.published_at.to_s :month_day_year
      %h4="by #{blog_post.author.first_name} #{blog_post.author.last_name}"
    .body.panel-body
      -if showing_individual_post or (blog_post.summary.blank? || latest_post)
        =blog_post.body.html_safe
      -else
        .blog-post-summary
          =blog_post.summary.blank? ? blog_post.body.html_safe : blog_post.summary
        .read_more
          = link_to 'Read More >>', seismo_blog_post_path(blog_post.route_params)

    -if showing_individual_post || latest_post
      .meta
        -unless blog_post.tags.empty?
          #tags
            Tags:
            %span.tags
              = blog_post.tags.map{|t| link_to(h(t.name), _blog_path(blog_post.blog, 'posts_with_tag', :tag => t.name)) }.join(", ")
      -if latest_post
        #latest-post-end