.secondary-nav.accent-block.recent-posts
  %h1 Recent Posts
  %ul
    -BcmsBlog::Blog.find(1).posts.order("published_at desc").limit(10).each do |post|
      %li=link_to post.name, _blog_post_path(post)


.secondary-nav.accent-block
  %h1 Archives
  %ul.depth-1
    -BcmsBlog::BlogPost.select("date_part('year', published_at) as pub_year, count(*)").where("published=true").group("pub_year").order("pub_year DESC").each_with_index do |year_post, i|
      %li.depth-1.year-of-posts{ :class => i==0 ? 'current-year' : '' }
        = link_to "#{year_post.pub_year} (#{year_post.count})", "#"
        %ul.depth-2
          -BcmsBlog::BlogPost.select("to_char(published_at, 'month') as pub_month, date_part('month',published_at) as int_month, count(*) as count").where("published = true AND date_part('year', published_at) =?", year_post.pub_year).group("pub_month, int_month").order("int_month DESC").each do |month_post|
            %li.depth-2
              = link_to "#{month_post.pub_month.titleize} (#{month_post.count})", '#'
              %ul.depth-3
                -BcmsBlog::BlogPost.where("published=true AND date_part('month', published_at) = ? AND date_part('year', published_at) =?", month_post.int_month, year_post.pub_year).order("published_at DESC").each do |post|
                  %li= link_to post.name, _blog_post_path(post), :class => 'no-slide'